Administracion/Web References/ServicioWCF/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      <xs:element minOccurs="0" name="NomCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomUsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Gerente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gerente" nillable="true" type="tns:Gerente" />
  <xs:complexType name="Cajero">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="HoranFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HoranIni" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cajero" nillable="true" type="tns:Cajero" />
</xs:schema>