Administracion/Web References/ServicioWCF/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Cajero">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cajero" nillable="true" type="tns:Cajero" />
  <xs:complexType name="Gerente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gerente" nillable="true" type="tns:Gerente" />
</xs:schema>