Administracion/Service References/ServicioWCF/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServicioWCF/Servicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServicioWCF/Servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServicioWCF/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_AltaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BajaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_BajaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_CambioPass_InputMessage">
    <wsdl:part name="parameters" element="tns:CambioPass" />
  </wsdl:message>
  <wsdl:message name="IServicio_CambioPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambioPassResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_Logueo_InputMessage">
    <wsdl:part name="parameters" element="tns:Logueo" />
  </wsdl:message>
  <wsdl:message name="IServicio_Logueo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogueoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaPago_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaPago" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_PagoDeUnaFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:PagoDeUnaFactura" />
  </wsdl:message>
  <wsdl:message name="IServicio_PagoDeUnaFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagoDeUnaFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_listar_InputMessage">
    <wsdl:part name="parameters" element="tns:listar" />
  </wsdl:message>
  <wsdl:message name="IServicio_listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BajaEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicio_BajaEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresas" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarContrato" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscarContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaTipoContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaTipoContrato" />
  </wsdl:message>
  <wsdl:message name="IServicio_AltaTipoContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaTipoContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BajaTipoContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaTipoContrato" />
  </wsdl:message>
  <wsdl:message name="IServicio_BajaTipoContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaTipoContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarTipoContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarTipoContrato" />
  </wsdl:message>
  <wsdl:message name="IServicio_ModificarTipoContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarTipoContratoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="AltaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AltaUsuario" message="tns:IServicio_AltaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AltaUsuarioResponse" message="tns:IServicio_AltaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BajaUsuario" message="tns:IServicio_BajaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BajaUsuarioResponse" message="tns:IServicio_BajaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ModificarUsuario" message="tns:IServicio_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ModificarUsuarioResponse" message="tns:IServicio_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BuscarUsuario" message="tns:IServicio_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BuscarUsuarioResponse" message="tns:IServicio_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambioPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/CambioPass" message="tns:IServicio_CambioPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/CambioPassResponse" message="tns:IServicio_CambioPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logueo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Logueo" message="tns:IServicio_Logueo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/LogueoResponse" message="tns:IServicio_Logueo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AltaPago" message="tns:IServicio_AltaPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AltaPagoResponse" message="tns:IServicio_AltaPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PagoDeUnaFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/PagoDeUnaFactura" message="tns:IServicio_PagoDeUnaFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/PagoDeUnaFacturaResponse" message="tns:IServicio_PagoDeUnaFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/listar" message="tns:IServicio_listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/listarResponse" message="tns:IServicio_listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BuscarEmpresa" message="tns:IServicio_BuscarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BuscarEmpresaResponse" message="tns:IServicio_BuscarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AltaEmpresa" message="tns:IServicio_AltaEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AltaEmpresaResponse" message="tns:IServicio_AltaEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BajaEmpresa" message="tns:IServicio_BajaEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BajaEmpresaResponse" message="tns:IServicio_BajaEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ModificarEmpresa" message="tns:IServicio_ModificarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ModificarEmpresaResponse" message="tns:IServicio_ModificarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEmpresas" message="tns:IServicio_ListarEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEmpresasResponse" message="tns:IServicio_ListarEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BuscarContrato" message="tns:IServicio_BuscarContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BuscarContratoResponse" message="tns:IServicio_BuscarContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AltaTipoContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AltaTipoContrato" message="tns:IServicio_AltaTipoContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AltaTipoContratoResponse" message="tns:IServicio_AltaTipoContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaTipoContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BajaTipoContrato" message="tns:IServicio_BajaTipoContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BajaTipoContratoResponse" message="tns:IServicio_BajaTipoContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ModificarTipoContrato" message="tns:IServicio_ModificarTipoContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ModificarTipoContratoResponse" message="tns:IServicio_ModificarTipoContrato_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/AltaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/BajaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioPass">
      <soap:operation soapAction="http://tempuri.org/IServicio/CambioPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logueo">
      <soap:operation soapAction="http://tempuri.org/IServicio/Logueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPago">
      <soap:operation soapAction="http://tempuri.org/IServicio/AltaPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagoDeUnaFactura">
      <soap:operation soapAction="http://tempuri.org/IServicio/PagoDeUnaFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="http://tempuri.org/IServicio/listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicio/BuscarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicio/AltaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicio/BajaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicio/ModificarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresas">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarContrato">
      <soap:operation soapAction="http://tempuri.org/IServicio/BuscarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaTipoContrato">
      <soap:operation soapAction="http://tempuri.org/IServicio/AltaTipoContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTipoContrato">
      <soap:operation soapAction="http://tempuri.org/IServicio/BajaTipoContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTipoContrato">
      <soap:operation soapAction="http://tempuri.org/IServicio/ModificarTipoContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost/ServicioWCF/Servicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>